{% block menu %}

<ul class="collapsible">
  <li>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required />
          <label class="label-icon" for="search"
            ><i class="material-icons">search</i></label
          >
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>Query
    </div>
    {% for type in schema.queryType.fields %}
    <div class="collapsible-body">
      <span>
        <a class="collection-item" href="{{ type.name }}.html">
          {{ type.name }}
        </a>
      </span>
    </div>
    {% endfor %}
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">place</i>Mutation
    </div>
    {% for type in schema.mutationType.fields %}
    <div class="collapsible-body">
      <span>
        <a class="collection-item" href="{{ type.name }}.html">{{ type.name }}</a>
      </span>
    </div>
    {% endfor %}
  </li>
  {% for key, value in menu.items %}
  <li>
    <div class="collapsible-header">
      <i class="material-icons">chevron_right</i>{{ key | lower | capfirst }}
    </div>
    {% for item in value %}
    <div class="collapsible-body">
      <span>
        <a href="{{ item }}.html">{{ item }}</a>
      </span>
    </div>
    {% endfor %}
  </li>
  {% endfor %}
</ul>

{% endblock %}

<!-- <div class="collection with-header">
            <h5 class="collection-header">Query</h5>
            {% for type in schema.queryType.fields %}
            <a class="collection-item" href="{{ type.name }}.html">{{ type.name }}</a>
            {% endfor %}

            <h5 class="collection-header">Mutation</h5>
            {% for type in schema.mutationType.fields %}
            <a class="collection-item" href="{{ type.name }}.html">{{ type.name }}</a>
            {% endfor %}

            {% for key, value in menu.items %}
            <h5 class="collection-header">{{ key|lower|capfirst }}</h5>
                {% for item in value %}
                <a class="collection-item" href="{{ item }}.html">{{ item }}</a>
                {% endfor %}
            {% endfor %}
        </div> -->
